{% include 'header.html' %}
{% block content %}
{% load fontawesome %}
{% load static %}
{% fontawesome_stylesheet %}

<body>


<div style="margin: 0 auto;  width:800px; margin-top: 40px;">
    <ul>
        <li><div style="font-weight: bold; float:left">Nivel 1: </div>Al menos una de las palabras introducidas debe aparecer en alguna de las descripciones del producto.</li>
        <li><div style="font-weight: bold; float:left">Nivel 2: </div>Todas las palabras introducidas deben aparecer en alguna de las descripciones del producto.</li>
        <li><div style="font-weight: bold; float:left">Nivel 3: </div>Todas las palabras introducidas deben aparecer en todas las descripciones del producto.</li>
    </ul>
</div>
<div class="form-group" style="margin: 0 auto;  width:700px; margin-top: 10px;">
  <form class="" action="/search/" method="post">{% csrf_token %}
   <label for="key_word"> Introduce una o varias palabras </label>
      <input class="form-control" type="text" name="key_word" placeholder="Texto">
      <br>
      <label for="exampleSelect1">Selecciona el tipo de busqueda</label>
      <select class="form-control" name="type" required>
        <option value="N1">Nivel 1</option>
        <option value="N2">Nivel 2</option>
        <option value="N3" selected>Nivel 3</option>
      </select>
      
      <br><br>
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</div>

{% if mostrar %}

  <h1 style="text-align: center; text-justify: inter-word; margin-top: 20px;">{{title}}</h1>
<div style="display: table; clear: both;">
  <div class="card border-danger mb-3 column" style="float: left;width:31%;padding: 10px; margin: 12px;">
      <div class="card-header"><img src="{% static 'img/mediamarkt.png' %}" width="30%" height="30%"></div>
      <div class="card-body">
          {% for m in mm %}
          <h4 class="card-title"> <a href="{{m.producto.link}}">{{m.producto.nombre}}</a></h4>
          <form action="/historical/" method="get">
              <input id="web" name="web" type="hidden" value="mm">
              <input id="name" name="name" type="hidden" value="{{m.producto.nombre}}">
              <input id="ean" name="ean" type="hidden" value={{m.producto.ean}}>
          <h5 class="card-title"><button  class="btn btn-secondary"> 
              {% fontawesome_icon 'table' color='red' %} Historial de precio </button></h5>
          </form>
          <img src="{{m.producto.image}}"  width="30%" height="30%" style="float: right;"> 
          <p class="card-text"><h6>Descripción:</h6> {{m.producto.descripcion}}</p>
          <p class="card-text"><h6>Precio:</h6> <div  style="font-size:20px"> {{m.precio}}€ </div></p>
          <hr>
          {% endfor %}
      </div>
  </div>
  <div class="card border-success mb-3 column"  style="float: left;width:31%;padding: 10px; margin: 12px;">
      <div class="card-header"><img src="{% static 'img/eci.png' %}"  width="20%" height="20%"></div>
      <div class="card-body">
          {% for e in eci %}
          <h4 class="card-title"> <a href="{{e.producto.link}}">{{e.producto.nombre}}</a></h4>
          <form action="/historical/" method="get">
              <input id="web" name="web" type="hidden" value="eci">
              <input id="name" name="name" type="hidden" value="{{e.producto.nombre}}">
              <input id="ean" name="ean" type="hidden" value={{e.producto.ean}}>
          <h5 class="card-title"><button  class="btn btn-secondary"> 
              {% fontawesome_icon 'table' color='green' %} Historial de precio </button></h5>
          </form>
          <img src="{{e.producto.image}}"  width="20%" height="20%" style="float: right;">
          <p class="card-text"><h6>Descripción:</h6> {{e.producto.descripcion}}</p>
          <p class="card-text"><h6>Precio:</h6><div style="font-size:20px"> {{e.precio}}€ </div></p>
          <hr>
          {% endfor %}
      </div>
  </div>
  <div class="card border-warning mb-3 column"  style="float: left;width:31%;padding: 10px; margin: 12px;">
      <div class="card-header"><img src="{% static 'img/fnac.png' %}" width="24%" height="24%"></div>
          <div class="card-body">
              {% for f in fc %}
              <h4 class="card-title"> <a href="{{f.producto.link}}">{{f.producto.nombre}}</a></h4>
              <form action="/historical/" method="get">
                  <input id="web" name="web" type="hidden" value="fc">
                  <input id="name" name="name" type="hidden" value="{{f.producto.nombre}}">
                  <input id="ean" name="ean" type="hidden" value={{f.producto.ean}}>
              <h5 class="card-title"><button  class="btn btn-secondary"> 
                  {% fontawesome_icon 'table' color='#CCCC00' %} Historial de precio </button></h5>
              </form>
              <img src="{{f.producto.image}}"  width="20%" height="20%" style="float: right;">
              <br>
              <p class="card-text" style="text-align: justify; text-justify: inter-word;"><h6>Descripción:</h6> {{f.producto.descripcion}}</p>
              <p class="card-text"><h6>Precio:</h6><div style="font-size:20px"> {{f.precio}}€ </div></p>
              <hr>
              {% endfor %}
          </div>
  </div>
</div>
  
  {% else %}
  

  <h2 style="text-align: center; text-justify: inter-word; margin-top: 20px;">{{title}}</h2>

{% endif %}
</body>
{% endblock %}
{% include 'footer.html' %}